@font-face {
	font-family: 'Gravicon';
	src: url(../../assets/fonts/Gravicon-Display.woff2) format('woff2'),
	url(../../assets/fonts/Gravicon-Display.woff) format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}