@font-face {
	font-family: 'IRYekan';
	src: url(../../assets/fonts/IRYekan.woff2) format('woff2'),
	url(../../assets/fonts/IRYekan.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}