@font-face {
	font-family: 'Montserrat-Alt1 SemBd';
	src: url(../../assets/fonts/MontserratAlt1-SemiBold.woff2) format('woff2'),
	url(../../assets/fonts/MontserratAlt1-SemiBold.woff) format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}