@font-face {
	font-family: 'Montserrat-Alt1';
	src: url(../../assets/fonts/MontserratAlt1-Thin.woff2) format('woff2'),
	url(../../assets/fonts/MontserratAlt1-Thin.woff) format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat-Alt1';
	src: url(../../assets/fonts/MontserratAlt1-Light.woff2) format('woff2'),
	url(../../assets/fonts/MontserratAlt1-Light.woff) format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat-Alt1';
	src: url(../../assets/fonts/MontserratAlt1-Regular.woff2) format('woff2'),
	url(../../assets/fonts/MontserratAlt1-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat-Alt1';
	src: url(../../assets/fonts/MontserratAlt1-Bold.woff2) format('woff2'),
	url(../../assets/fonts/MontserratAlt1-Bold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat-Alt1';
	src: url(../../assets/fonts/MontserratAlt1-Black.woff2) format('woff2'),
	url(../../assets/fonts/MontserratAlt1-Black.woff) format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}