@import url("https://fonts.googleapis.com/css?family=Nova+Square&display=swap");
body {
  margin: 0;
}

#generalContainer {
  height: 95vh;
  width: 90vw;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 4fr 0.2fr;
  grid-gap: 0;
  grid-template-areas: "Title" "Calculator" "Footer";
  justify-items: center;
  align-items: center;
  z-index: 10;
}

#title {
  font-family: "Nova Square", cursive;
  letter-spacing: 4px;
  width: 50vw;
  max-width: 400px;
  grid-area: Title;
  display: grid;
  justify-items: center;
  align-items: center;
  color: #0dff00;
  padding: 20px;
  z-index: 10;
  border-radius: 7px;
  box-shadow: -6px -6px 16px 0px #9bf2ff, inset 6px 6px 16px -4px #9bf2ff, 6px 6px 16px 0px #358f9b, inset -6px -6px 16px -4px #358f9b;
}
#title small {
  justify-self: end;
}

#calcContainer {
  height: 80%;
  width: 60%;
  max-height: 400px;
  max-width: 280px;
  padding: 15px;
  border-radius: 20px;
  background-color: #c8ddf2c5;
  box-shadow: 0px 0px 0px 0px #C8DDF2, inset 3px 3px 6px -2px #FFFFFF, 15px 15px 30px 0px #6dbebd, inset -3px -3px 6px -2px #6dbebd;
  grid-area: Calculator;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  grid-gap: 15px;
  grid-template-areas: "Display" "Pad";
  z-index: 10;
}

#displayContainer {
  font-family: "Nova Square", cursive;
  letter-spacing: 2px;
  background-color: #EFF6FD;
  border-radius: 7px;
  box-shadow: inset -2px -2px 3px 3px #EFF6FD, inset 2px 2px 3px 3px #9BBDDD;
  grid-area: Display;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.7fr;
  grid-gap: 3px;
  padding: 0 10px;
  grid-template-areas: "Display1" "Display2";
  justify-items: end;
  align-items: end;
  z-index: 10;
}

#display {
  font-size: 1.5rem;
  color: #d42121;
  grid-area: Display1;
}

#display2 {
  color: #0011ff;
  grid-area: Display2;
}

#padContainer {
  font-family: "Nova Square", cursive;
  grid-area: Pad;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 15px;
}

.padKey {
  color: #ff0000;
  border-radius: 20px;
  box-shadow: -6px -6px 16px -4px rgba(255, 255, 255, 0.9), inset 10px 10px 20px -15px #EFF6FD, 6px 6px 16px -4px rgba(109, 150, 190, 0.9), inset -10px -10px 20px -15px #9BBDDD;
  display: flex;
  justify-content: center;
  align-items: center;
}
.padKey:hover, .padKey.hover {
  background-color: #c8f2ceb2;
  color: #135159;
  box-shadow: inset 6px 6px 16px -4px #9BBDDD, inset -6px -6px 16px -4px #EFF6FD;
  cursor: crosshair;
}
.padKey.operator {
  background-color: #52fe55bb;
}
.padKey.operator:hover, .padKey.operator.hover {
  background-color: #c8f2ceb2;
  color: #135159;
  box-shadow: inset 6px 6px 16px -4px #8db092b2, inset 6px 6px 16px -4px #FFFFFF;
  cursor: crosshair;
}

#equals {
  grid-column: span 2;
}