:root {
    font-size: 25px;
  }
  
  * {
    margin: 0;
    padding: 0;
    outline: none;
  }
  
  *:focus {
    outline: none;
  }
  
  body {
    font-family: 'Inconsolata', monospace;
  }
  
  button {
    padding: 0.25rem;
    font-size: 1.25rem;
    font-family: inherit;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  
  button:hover {
    border: none;
    cursor: pointer;
  }
  
  .container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    align-content: center;
  }
  
  .calculator {
    min-width: 16rem;
    padding: 0.75rem;
    margin-left: 200px;
    margin-right: 1px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    box-shadow: 1px 1.5px 3px 2px grey;
    justify-self: center;
  }
  
  .output {
    margin-bottom: 1.75rem;
    padding: 0.8rem 0.5rem;
    background: #444444;
    border-radius: 5px;
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.8);
  }
  
  .output > * {
    color: #fff;
    text-align: right;
    text-transform: uppercase;
  }
  
  #calculation {
    height: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
  }
  
  #input {
    height: 1.5rem;
    font-size: 1.5rem;
  }
  
  .number {
    background-color: rgba(255, 255, 255, 0.65);
  }
  
  .number:hover {
    box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.75);
  }
  
  .number:active {
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .clear {
    font-size: 1rem;
    text-transform: uppercase;
    background-color: rgba(240, 120, 120, 0.5);
  }
  
  .clear:hover {
    box-shadow: 0 0 3px 1px rgba(240, 120, 120, 0.6);
  }
  
  .clear:active {
    background-color: rgba(240, 120, 120, 0.8);
  }
  
  .equal {
    background: rgba(70, 240, 90, 0.4);
  }
  
  .equal:hover {
    box-shadow: 0 0 3px 1px rgba(70, 240, 90, 0.5);
  }
  
  .equal:active {
    background-color: rgba(80, 240, 100, 0.7);
  }
  
  .operator, .neg, .dot{
    background-color: rgba(0, 0, 0, 0.15);
  }
  
  .operator:hover, .neg:hover, .dot:hover{
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  }
  
  .operator:active, .neg:active, .dot:active{
    background-color: rgba(0, 0, 0, 0.25);
  }
  
  #c {
    background: rgba(240, 10, 10, 0.5);
  }
  
  #c:hover {
    box-shadow: 0 0 3px 1px rgba(240, 10, 10, 0.55);
  }
  
  #c:active {
    background: rgba(240, 10, 10, 0.6);
  }
    
  .container{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .button-field {
    display: grid;
    grid-gap: 0.25rem;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
  
  .output {
    grid-column: 1 / span 4;
  }
