@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

$workspace-color: #373737;
$workspace-font-color: #ffffff;
$workspace-border-radius: 4px;
$editor-label-color: #51b9db;
$editor-label-color: #51b9db;
$previewer-label-color: #406570;
$breakpoint-one: 900px;

body, div, textarea {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

textarea {
  resize: none;
}
a {
  color:darkorange;
}
body {
  background-color: lighten($workspace-color, 3%);
}
body, textarea {
  font-family: 'Montserrat', sans-serif;
  color: $workspace-font-color;
  font-size: 18px;
}

.markdown-editor, .markdown-previewer {
  width: 50%;
  height: 100vh;
  padding: 30px;
  padding-top: 10vh;
  padding-bottom: 0;
  h4 {
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px;
    border-radius: $workspace-border-radius $workspace-border-radius 0 0;
    margin: 0;
  }
}
.markdown-editor > textarea, .markdown-previewer > div {
  border: 1px solid;
  background-color: $workspace-color;
  padding: 1.5em;
  padding-top: 1em;
  display: block;
  width: 100%;
  height: 70%;
}

.markdown-editor {
  float: left;
  h4 {
    background-color: $editor-label-color;
  }
  textarea {
    border-color: $editor-label-color;
  }
}

.markdown-previewer {
  float: right;
  h4 {
    background-color: $previewer-label-color;
  }
  div {
    overflow: auto;
    border-color: $previewer-label-color;
  }
}

@media screen and (max-width: $breakpoint-one) {
  .markdown-editor, .markdown-previewer {
    float: none;
    padding-top: 2em;
    width: 100%;
  }
  .markdown-editor > textarea, .markdown-previewer > div {
    height: 90%;
  }
}
